// start /components/{%= name %}/

link( rel="stylesheet", href="/components/{%= name %}/style.css" )
script( src="/components/{%= name %}/script.js" )

.b-{%= name %}
  h3 {%= name %}

// end /components/{%= name %}/